<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        {{form.as_p}} <!-- as_p es la manera en la que se va a listar. En este caso es uno abajo del otro. Puede ser as_list también -->
        <input type="submit" value="Actualizar">
       
    </form>
    <a href ="{% url 'familiar-listar' %}">Volver</a>

</body>
</html>