<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    En esta sección de inicio hay una breve descrición de quienes somos, que hacemos y nuestra propuesta para este verano.
    <a href ="{% url '020_3islas' %}">3 islas</a>
    <a href ="{% url '030_moreno' %}">Moreno</a>
    <a href ="{% url '041_competidor_list' %}">Lista de participantes</a>
    
</body>
</html>



