<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        
        <!--  -->
        <!--
        <input type="checkbox" id="3islas" name="3islas" value="3 islas">
        <input type="checkbox" id="moreno" name="moreno" value="Moreno">
        -->
        <input type="submit" value="Confirmar">

    </form>
    <a href ="{% url 'competidor-listar' %}">Volver</a>

</body>
</html>