<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<ul>

{% block buscar %} {% endblock %}

{% for competidor in object_list %}
    <li>
        {{competidor}}
        <a href ="{% url 'competidor-borrar' competidor.id %}">Borrar</a>
        <!--  <a href ="{% url 'competidor-crear' %}">Crear</a> -->
        <a href ="{% url 'competidor-actualizar' competidor.id %}">Actualizar</a>
    </li>
{% endfor %}    

<a href ="{% url 'competidor-crear' %}">Crear</a>

</ul>

</body>
</html>